{% extends 'base.html.twig' %}
{% block title %} Symfony & table de pythagore {% endblock %}
{% block content %} 

    <h1>YOVO Amèvi</h1>
    <em>Table de Pythagore avec Symfony</em>;

        {{ table|raw }}

{% endblock %}

